@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-principal: #88d2ff;
    --cor1: #7b00ff;
    --cor2: #0044ff;
    --cor3: #ff00a6;
    --preto: #000000;
    --branco: #FFFFFF;
    --cor4: #ff7f08;
}

body {
    font-size: 1rem;
    font-family: 'Winky Sans'; /*o nome da sua fonte*/
}

section{
    padding-bottom: 5rem;
}

.display-4{
    text-shadow: -5px 5px var(--cor4);
}

#circoescola {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor1);
    background-size: 180px 180px;
}

#circoescola .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}










#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--cor1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}