@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #88d2ff;
    --cor1: #7b00ff;
    --cor2: #0044ff;
    --cor3: #ff00a6;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat'; /*o nome da sua fonte*/
}

#contato {
    background: var(--cor-principal);
    backgro[und-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--cor1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}